<style>
  .check-toggle .bootstrap-switch-container{
    letter-spacing: 0 !important;
  }
</style>
<div class="modal-header success">
  <h4 class="modal-title" id="modal-title">
    Create OAuth2
    <a class="modal-close pull-right" ng-click="close()">
      <i class="mdi mdi-close"></i>
    </a>
  </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
  <p class="text-muted no-margin">Create OAuth2 for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong>
  </p>
</div>

<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="form-group" ng-class="{'has-error' : errors.name}">
      <label class="col-sm-4 control-label">name <br><em>
        <small class="help-block">required</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.name" class="form-control">
        <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
        <p class="help-block">A descriptive name used by the OAuth AS</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">OAuth Mode<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.oauth_mode" switch-size="small" type="radio" switch-on-text="YES"
               switch-off-text="NO" name="mode_group" data-ng-change="data.allow_oauth_scope_expression = (data.oauth_mode ? true: false)">
        <p class="help-block">
          If <code>Yes</code>, the client must present an ACTIVE
          OAuth token to call an API.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">UMA Mode<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.uma_mode" switch-size="small" type="radio" switch-on-text="YES"
               switch-off-text="NO" name="mode_group">
        <p class="help-block">
          If <code>Yes</code>, the client must present an ACTIVE UMA RPT token
          to call an  API.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Mix Mode<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.mix_mode" switch-size="small" type="radio" switch-on-text="YES"
               switch-off-text="NO" name="mode_group">
        <p class="help-block">
          If <code>Yes</code>, the client must present an ACTIVE
          OAuth token to call an API. Kong will
          obtain an UMA permission ticket, and attempt
          to obtain an RPT on behalf of the client.
          Client can send pushed claims using header
          <code>UMA_PUSHED_CLAIMS</code> with JSON in
          the following format:
          <code>
            {"claim_token":"...","claim_token_format":"..."}
          </code>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Allow Unprotected path<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.allow_unprotected_path" switch-size="small" type="radio" switch-on-text="Allow"
               switch-off-text="Deny">
        <p class="help-block">
          What to do when path is not protected by UMA-RS? If Deny then RS returns 401/Unauthorized.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">OAuth scope security<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.allow_oauth_scope_expression" switch-size="small" type="radio" switch-on-text="Allow"
               switch-off-text="Deny">
        <p class="help-block">
          If <code>Allow</code>, the Gateway will enforce OAuth scope requirements.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Restrict API's<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.restrict_api" switch-size="small" type="radio" switch-on-text="Enabled"
               switch-off-text="Disabled">
        <button
          ng-click="restrictAPIModel()"
          data-ng-disabled="!data.restrict_api"
          class="btn btn-primary btn-sm pull-right">
          <i class="mdi mdi-plus"></i>
          Select restricted API's
        </button>
        <p class="help-block">
          The client can only call specified API's if client restriction is enabled.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Show Consumer custom Id<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7 check-toggle">
        <input bs-switch ng-model="data.show_consumer_custom_id" switch-size="small" type="radio" switch-on-text="Yes"
               switch-off-text="No">
        <p class="help-block">
          If <code>Yes</code>, then the plugin will set consumer custom id in legacy header otherwise not.
        </p>
      </div>
    </div>

    <!--<div class="form-group" ng-class="{'has-error' : errors.oxd_http_url}">-->
      <!--<label class="col-sm-4 control-label">OXD http URL <br><em>-->
      <!--</em></label>-->
      <!--<div class="col-sm-7">-->
        <!--<input ng-model="data.oxd_http_url" class="form-control" disabled>-->
        <!--<div class="text-danger" ng-if="errors.oxd_http_url" data-ng-bind="errors.oxd_http_url"></div>-->
        <!--<p class="help-block">OXD http url used to create and register OpenId client.</p>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group">
      <label class="col-sm-4 control-label">OXD Id<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.oxd_id" class="form-control" data-ng-disabled="!!data.id">
        <p class="help-block">If you have existing oxd entry then enter oxd_id(also client id, client secret and client id of oxd id). If you
          have client created from OP server then skip it and enter only below client_id and client_secret. <code>If you skip all three fields (oxd_id, client_id and client_secret), then it will create a new client for you.</code></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Client Id<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.client_id" class="form-control" data-ng-disabled="!!data.id">
        <p class="help-block">If you have existing client then add value in Client Id and Client Secret.</p>
      </div>
    </div>

    <div class="form-group" data-ng-if="!data.id">
      <label class="col-sm-4 control-label">Client secret<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.client_secret" class="form-control">
        <p class="help-block">If you have existing client then add value in Client Id and Client Secret.</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Client Id of OXD Id<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.client_id_of_oxd_id" class="form-control" data-ng-disabled="!!data.id">
        <p class="help-block">If you have existing oxd id then add value in Client Id of oxd id.</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">JWKS URI<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input ng-model="data.client_jwks_uri" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">JWKS File<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <input type="file" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Token Auth Method<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="data.client_token_endpoint_auth_method"
                ng-options="method as method for method in token_endpoint_auth_method">
          <option value="">- Please select one -</option>
          <option value="">none</option>
        </select>
      </div>
    </div>

    <div class="form-group" data-ng-show="false">
      <label class="col-sm-4 control-label">Token Auth Alg<br><em>
        <small class="help-block">optional</small>
      </em></label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="data.client_token_endpoint_auth_signing_alg"
                ng-options="alg as alg for alg in token_endpoint_auth_signing_alg">
          <option value="">- Please select one -</option>
          <option value="">none</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-7">
        <button type="submit" class="btn btn-primary" ng-click="manage()">
          <i class="mdi mdi-check"></i>
          Submit
        </button>
      </div>
    </div>

  </form>
</div>
