<div class="modal-content">
  <form name="$ctrl.ScriptForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createBadgeLabel">Manage Script</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-feedback"
               ng-class="{'has-error': $ctrl.ScriptForm.scriptName.$invalid && ($ctrl.ScriptForm.scriptName.$dirty || $ctrl.ScriptForm.$submitted)}">
            <label class="control-label" for="scriptName"><span class="text text-danger">*</span> Script name</label>
            <input type="text" class="form-control" id="scriptName" name="scriptName"
                   title="Please enter the script name"
                   placeholder="Please enter the script name"
                   ng-model="$ctrl.model.name"
                   ng-required="true"/>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group has-feedback">
            <label class="control-label" for="status">Status</label>
            <input type="checkbox" class="form-control" id="status" name="status"
                   ng-model="$ctrl.model.status"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-feedback">
            <label class="control-label" for="scriptDescription">Description</label>
            <textarea type="text" class="form-control" id="scriptDescription" name="scriptDescription"
                      title="Please enter the Description"
                      placeholder="Please enter the Description"
                      ng-model="$ctrl.model.description"
                      ng-required="true"></textarea>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" for="uma_server_host"><span class="text text-danger">*</span> Key</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label class="control-label" for="uma_server_host"><span class="text text-danger">*</span> Value</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback">
            <label class="control-label" for="uma_server_host"><span class="text text-danger">*</span> Claim Definition</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" for="uma_server_host"><span class="text text-danger">*</span> Delete</label>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="elemnt in $ctrl.model.keyValues">
        <div class="col-md-2">
          <div class="form-group has-feedback"
               ng-class="{'has-error': $ctrl.ScriptForm.uma_server_host.$invalid && ($ctrl.ScriptForm.uma_server_host.$dirty || $ctrl.ScriptForm.$submitted)}">
            <input type="text" class="form-control" id="uma_server_host" name="uma_server_host"
                   title="Please enter the key"
                   placeholder="Please enter the key"
                   ng-model="elemnt.key"
                   ng-required="true"/>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback"
               ng-class="{'has-error': $ctrl.ScriptForm.oxd_host.$invalid && ($ctrl.ScriptForm.oxd_host.$dirty || $ctrl.ScriptForm.$submitted)}">
            <input type="text" class="form-control" id="oxd_host" name="oxd_host"
                   title="Please enter the value"
                   placeholder="Please enter the value" ng-model="elemnt.value"
                   ng-required="true"/>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-feedback"
               ng-class="{'has-error': $ctrl.ScriptForm.claimDefinition.$invalid && ($ctrl.ScriptForm.claimDefinition.$dirty || $ctrl.ScriptForm.$submitted)}">
            <textarea type="text" class="form-control" id="claimDefinition" name="claimDefinition"
                      title="Please enter the claim definition"
                      placeholder="Please enter the claim definition" ng-model="elemnt.claimDefinition"
                      ng-required="true"></textarea>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger btn-icon" ng-click="$ctrl.model.keyValues.splice($index,1)">
            <i class="ion-android-close"></i>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-info" ng-click="$ctrl.newItem()">
        Add New Claim
      </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.manageScript($ctrl.ScriptForm.$valid)">
        Save
      </button>
      |
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    </div>
    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>-->
    <!--<button type="submit" class="btn btn-primary" ng-click="vm.createBadgeCategory(vm.createBadgeCategoryForm.$valid)">-->
    <!--Save-->
    <!--</button>-->
    <!--</div>-->
  </form>
</div>