[submodule "third-party/lua-resty-lrucache"]
	path = third-party/lua-resty-lrucache
	url = git@github.com:openresty/lua-resty-lrucache.git
[submodule "third-party/oxd-web-lua"]
	path = third-party/oxd-web-lua
	url = git@github.com:GluuFederation/oxd-web-lua.git
[submodule "third-party/json-logic-lua"]
	path = third-party/json-logic-lua
	url = https://git.rucciva.one/rucciva/json-logic-lua.git
[submodule "third-party/lua-resty-jwt"]
	path = third-party/lua-resty-jwt
	url = git@github.com:cdbattags/lua-resty-jwt.git
[submodule "third-party/lua-resty-hmac"]
	path = third-party/lua-resty-hmac
	url = git@github.com:jkeys089/lua-resty-hmac.git
