<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-8">
      <div ba-panel ba-panel-class="with-scroll">
        <form name="$ctrl.PluginForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.api_id.$invalid && ($ctrl.PluginForm.api_id.$dirty || $ctrl.PluginForm.$submitted)}">
                <label for="api_id"><span class="text text-danger">*</span> Resource</label>
                <select class="form-control" id="api_id" name="api_id" title="Select API" selectpicker
                        ng-model="$ctrl.api_id"
                        ng-options="api.id as api.name for api in $ctrl.apis" required>
                  <option value="">--- Select ---</option>
                </select>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.uma_server_host.$invalid && ($ctrl.PluginForm.uma_server_host.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="uma_server_host"><span class="text text-danger">*</span> UMA
                  server(OP)
                  host</label>
                <input type="text" class="form-control" id="uma_server_host" name="uma_server_host"
                       title="Please enter the uma server host"
                       placeholder="Please enter the uma server host"
                       ng-model="$ctrl.modelPlugin.config.uma_server_host"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.oxd_host.$invalid && ($ctrl.PluginForm.oxd_host.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="oxd_host"><span class="text text-danger">*</span> OXD Web URL</label>
                <input type="text" class="form-control" id="oxd_host" name="oxd_host"
                       title="Please enter the oxd host"
                       placeholder="Please enter the oxd host" ng-model="$ctrl.modelPlugin.config.oxd_host"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <label for="api_id">--------------- Protection Document ---------------</label>
              </div>
              <div class="row" ng-repeat="element in $ctrl.modelPlugin.config.protection_document"
                   style="border: 1px dotted;">
                <hr/>
                <div class="col-md-3">
                  <div class="form-group has-feedback"
                       ng-class="{'has-error': $ctrl.PluginForm.path.$invalid && ($ctrl.PluginForm.path.$dirty || $ctrl.PluginForm.$submitted)}">
                    <input type="text" class="form-control" id="path" name="path"
                           title="Please enter the path"
                           placeholder="Please enter the path"
                           ng-model="element.path"
                           ng-required="true"/>
                    <span class="help-block error-block basic-block">This field is required!</span>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="row" ng-repeat="cond in element.conditions">
                    <div class="form-group has-feedback"
                         ng-class="{'has-error': $ctrl.PluginForm.httpMethods.$invalid && ($ctrl.PluginForm.httpMethods.$dirty || $ctrl.PluginForm.$submitted)}">
                      <tags-input ng-model="cond.httpMethods" placeholder="Please enter the http Methods"></tags-input>
                      <span class="help-block error-block basic-block">This field is required!</span>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{'has-error': $ctrl.PluginForm.scopes.$invalid && ($ctrl.PluginForm.scopes.$dirty || $ctrl.PluginForm.$submitted)}">
                      <tags-input ng-model="cond.scopes" placeholder="Please enter the scopes"></tags-input>
                      <span class="help-block error-block basic-block">This field is required!</span>
                    </div>
                    <hr/>
                  </div>
                  <br/>
                  <button type="button" class="btn btn-info" ng-click="$ctrl.addPlugin($ctrl.PluginForm.$valid)">
                    + Add Condition
                  </button>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-info" ng-click="$ctrl.addPlugin($ctrl.PluginForm.$valid)">
                + Add Resource
              </button>
            </div>
          </div>
          <div class="row">
            <hr/>
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addPlugin($ctrl.PluginForm.$valid)">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>