<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-8">
      <div ba-panel ba-panel-class="with-scroll">
        <form name="$ctrl.PluginForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.api_id.$invalid && ($ctrl.PluginForm.api_id.$dirty || $ctrl.PluginForm.$submitted)}">
                <label for="api_id"><span class="text text-danger">*</span> Resource</label>
                <select class="form-control" id="api_id" name="api_id" title="Select API" selectpicker
                        ng-model="$ctrl.api_id"
                        ng-options="api.id as api.name for api in $ctrl.apis" required>
                  <option value="">--- Select ---</option>
                </select>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.op_host.$invalid && ($ctrl.PluginForm.op_host.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="op_host"><span class="text text-danger">*</span> OP host</label>
                <input type="text" class="form-control" id="op_host" name="op_host"
                       title="Please enter the op host"
                       placeholder="Please enter the op host" ng-model="$ctrl.modelPlugin.config.op_host"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.oxd_host.$invalid && ($ctrl.PluginForm.oxd_host.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="oxd_host"><span class="text text-danger">*</span> OXD host</label>
                <input type="text" class="form-control" id="oxd_host" name="oxd_host"
                       title="Please enter the oxd host"
                       placeholder="Please enter the oxd host" ng-model="$ctrl.modelPlugin.config.oxd_host"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.oxd_port.$invalid && ($ctrl.PluginForm.oxd_port.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="oxd_port"><span class="text text-danger">*</span> OXD port</label>
                <input type="text" class="form-control" id="oxd_port" name="oxd_port"
                       title="Please enter the oxd port"
                       placeholder="Please enter the oxd port" ng-model="$ctrl.modelPlugin.config.oxd_port"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="scope">Scope</label>
                <input type="text" class="form-control" id="scope" name="scope"
                       title="Please enter the scope"
                       tag-input="warning"
                       data-role="tagsinput"
                       placeholder="Please enter the scope" ng-model="$ctrl.modelPlugin.config.scope"/>
              </div>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.addPlugin($ctrl.PluginForm.$valid)">
                Save
              </button>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="{'has-error': $ctrl.PluginForm.authorization_redirect_uri.$invalid && ($ctrl.PluginForm.authorization_redirect_uri.$dirty || $ctrl.PluginForm.$submitted)}">
                <label class="control-label" for="authorization_redirect_uri"><span class="text text-danger">*</span>
                  Authorization redirect uri</label>
                <input type="url" class="form-control" id="authorization_redirect_uri" name="authorization_redirect_uri"
                       title="Please enter the authorization redirect uri"
                       placeholder="Please enter the authorization redirect uri"
                       ng-model="$ctrl.modelPlugin.config.authorization_redirect_uri"
                       ng-required="true"/>
                <span class="help-block error-block basic-block">This field is required!</span>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="client_name">Client name</label>
                <input type="text" class="form-control" id="client_name" name="client_name"
                       title="Please enter the client name"
                       placeholder="Please enter the client name" ng-model="$ctrl.modelPlugin.config.client_name"/>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="client_id">Client id</label>
                <input type="text" class="form-control" id="client_id" name="client_id"
                       title="Please enter the client id"
                       placeholder="Please enter the client id" ng-model="$ctrl.modelPlugin.config.client_id"/>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="client_secret">Client secret</label>
                <input type="text" class="form-control" id="client_secret" name="client_secret"
                       title="Please enter the client secret"
                       placeholder="Please enter the client secret" ng-model="$ctrl.modelPlugin.config.client_secret"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>