worker_processes 1;

events {
    worker_connections 512;
}

error_log logs/error.log debug;

http {
    server {
        listen 0.0.0.0:80;

        location / {
            content_by_lua_block {
                local generator = require"gluu.generator"
                local cjson = require"cjson".new()

                local args = ngx.req.get_uri_args()
                local nrequest = args.nrequests or 1000

                ngx.req.read_body()
                local body = ngx.req.get_body_data()
                print(body)

                local config = cjson.decode(body)

                local result = generator.generate_wrk_config(config, nrequest)
                ngx.header.content_type = "application/json; charset=UTF-8"
                print"before encode"
                ngx.say(cjson.encode(result))
            }
        }
    }
}
