[Unit]
Description=konga server daemon
After=network.target kong.service oxd-server.service
Requires=kong.service oxd-server.service
PartOf=gluu-gateway.service

[Service]
Type=simple
PIDFile=/var/run/konga.pid
ExecStart=/bin/bash -c 'cd /opt/gluu-gateway/konga && /usr/bin/node --harmony app.js --prod >> /var/log/konga.log 2>&1'
Restart=on-failure
RestartSec=12s

[Install]
WantedBy=multi-user.target
