[Unit]
Description=Kong server daemon
After=network.target postgresql.service
Requires=postgresql.service
PartOf=gluu-gateway.service

[Service]
Type=simple
PIDFile=/usr/local/kong/pids/nginx.pid
ExecStart=/usr/local/bin/kong start
ExecStop=/usr/local/bin/kong stop
ExecReload=/usr/local/bin/kong reload
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
