<div class="modal-content">
  <form name="vm.createBadgeForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createBadgeLabel">{{$ctrl.script.displayName}} Script</h4>
    </div>
    <div class="modal-body">
      <pre>{{$ctrl.script.oxScript}}</pre>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    </div>
  </form>
</div>