<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-8">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ng-click="$ctrl.openManageScript(null)">Add</button>
        </div>
        <table class="table table-bordered table-hover table-condensed">
          <tbody>
          <tr class="sortable">
            <td style="text-align: left; font-weight: bolder" width="80%">Script</td>
            <td style="text-align: center; font-weight: bolder" width="20%">Action</td>
          </tr>
          <tr ng-repeat="o in $ctrl.scripts">
            <td style="text-align: left" width="80%">
              {{o.displayName}}
            </td>
            <td align="center" width="20%">
              <div class="buttons">
                <button class="btn btn-primary btn-icon" title="Add into Scope" ng-click="$ctrl.addToScope(o)"><i class="ion-plus-circled"></i></button> |
                <button class="btn btn-primary btn-icon" title="Full Script" ng-click="$ctrl.showScript(o)"><i class="ion-information-circled"></i></button> |
                <button class="btn btn-primary btn-icon" title="Edit" ng-click="$ctrl.openManageScript(o)"><i class="ion-edit"></i></button> |
                <button class="btn btn-danger btn-icon" title="Delete" ng-click="$ctrl.deleteScript(o.inum)"><i class="ion-android-delete"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>