# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

## Directory-based project format:
.idea/
.tmp/

.env.example
cacert.pem
careq.pem
cert.pem
cert1.pem
chain1.pem
fullchain1.pem
key.pem
privkey1.pem

public/images
*.log