<div class="modal-content">
  <form name="$ctrl.APIForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createProviderLabel">Manage API</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-feedback"
               ng-class="{'has-error': $ctrl.APIForm.name.$invalid && ($ctrl.APIForm.name.$dirty || $ctrl.APIForm.$submitted)}">
            <label class="control-label" for="name">Name</label>
            <input autofocus type="text" class="form-control" id="name" name="name"
                   title="Please enter the name"
                   placeholder="Please enter the name" ng-model="$ctrl.modalAPI.name" ng-required="true"/>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.pushAPI($ctrl.APIForm.$valid)">
        Save
      </button>
    </div>
  </form>
</div>