Source: gluu-gateway
Section: java
Priority: optional
Maintainer: Davit Nikoghosyan <davit@gluu.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://www.gluu.org

Package: gluu-gateway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 postgresql-10,
 nodejs,
 unzip,
 lua-cjson,
 python-requests,
 npm,
 ca-certificates,
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
