Source: gluu-gateway
Section: java
Priority: optional
Maintainer: Adrian Alves <adrian@gluu.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://www.gluu.org

Package: gluu-gateway
Architecture: any
Depends: postgresql (>= 10),
 oxd-server (= 3.1.3-17~xenial+Ub16.04),
 nodejs,
 unzip,
 lua-cjson,
 python-requests,
 npm,
 kong-community-edition (= 0.14.1),
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
