[Unit]
Description=Gluu-Gateway server daemon
After=network.target postgresql.service
Requires=postgresql.service kong.service oxd-server-4.0.beta.service

[Service]
Type=simple
ExecStart=/bin/nohup node --harmony /opt/gluu-gateway/konga/app.js --prod
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=12s

[Install]
WantedBy=multi-user.target
