<div data-ng-show="!user">
  <h3>Requested user not found</h3>
</div>

<div data-ng-show="user">

  <form role="form"
        data-editable-form
        name="editableForm"
        data-onaftersave="saveUser()">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center"><img ng-src="images/user-profile.png"
                                                          class="img-circle img-responsive profile-user-icon"></div>

      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-clean">
          <tbody>
          <tr data-ng-show="editableForm.$visible">
            <th colspan="2" class="bg-light-grey">
              <i class="mdi mdi-information-outline"></i>
              Info
            </th>
          </tr>
          <tr>
            <th>User Id</th>
            <td>
              <span>{{user.username}}</span>
            </td>
          </tr>
          <tr ng-if="editableForm.$visible && authUser.admin">
            <td colspan="2">
              <div class="form-group well">
                <label class="col-md-8 control-label no-margin">Is this user active?</label>
                <div class="col-md-4 text-right">
                  <input
                    bs-switch
                    ng-model="user.active"
                    switch-size="mini"
                    type="checkbox"
                    switch-on-text="YES"
                    switch-off-text="NO">
                </div>
                <div class="clearfix"></div>
              </div>
            </td>
          </tr>
          <tr ng-if="editableForm.$visible && authUser.admin">
            <td colspan="2">
              <div class="form-group well">
                <label class="col-md-8 control-label no-margin">Is this user an administrator?</label>
                <div class="col-md-4 text-right">
                  <input
                    bs-switch
                    ng-model="user.admin"
                    switch-size="mini"
                    type="checkbox"
                    switch-on-text="YES"
                    switch-off-text="NO">
                </div>
                <div class="clearfix"></div>
              </div>
            </td>
          </tr>
          <tr data-ng-show="editableForm.$visible">
            <th colspan="2" class="bg-light-grey">
              <i class="mdi mdi-security"></i>
              Security
            </th>
          </tr>
          <tr data-ng-show="editableForm.$visible" ng-class="{'danger' : errors.password}">
            <th>Password</th>
            <td>
              <span data-editable-text="user.passports.password" data-e-type="password"
                    data-e-name="user.passports.password"></span>
              <p class="text-danger" ng-if="errors.password" data-ng-bind="errors.password"></p>
            </td>
          </tr>
          <tr data-ng-show="editableForm.$visible" ng-class="{'danger' : errors.password_confirmation}">
            <th>Password Confirmation</th>
            <td>
              <span data-editable-text="user.password_confirmation" data-e-type="password"
                    data-e-name="user.password_confirmation"></span>
              <p class="text-danger" ng-if="errors.password_confirmation"
                 data-ng-bind="errors.password_confirmation"></p>
            </td>
          </tr>
          <tr data-ng-show="!editableForm.$visible">
            <th>Created at</th>
            <td>{{user.createdAt | date : "MMM d, y HH:mm"}}</td>
          </tr>
          <tr data-ng-show="!editableForm.$visible">
            <th>Last Login</th>
            <td>{{user.updatedAt | date : "MMM d, y HH:mm"}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
