<form name="applicationSettingsForm" novalidate ng-submit="updateKongaSettings(applicationSettingsForm.$valid)">
  <!-- GENERAL SETTINGS -->
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h3>
        General settings
      </h3>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error' : applicationSettingsForm.info_polling_interval.$invalid && (applicationSettingsForm.info_polling_interval.$dirty || applicationSettingsForm.$submitted)}">
            <label>
              Dashboard refresh interval
            </label>
            <input type="number" name="info_polling_interval" required class="form-control" data-ng-model="KONGA_CONFIG.info_polling_interval" min="3000">
            <p class="help-block">The interval in milliseconds at which the Dashboard data will refresh.</p>
            <div class="text-danger" ng-if="applicationSettingsForm.info_polling_interval.$invalid && (applicationSettingsForm.info_polling_interval.$dirty || applicationSettingsForm.$submitted)"> Minimum interval value is 3000.</div>
          </div>
        </div>
        <div class="col-md-4" data-ng-show="false">
          <div class="form-group">
            <label>
              Base URL
            </label>
            <input type="text" class="form-control" data-ng-model="KONGA_CONFIG.baseUrl"
                   placeholder="ex. http://my-konga.io">
            <p class="help-block">Konga uses the <code>baseUrl</code> for generating links (ex. Account activation
              link). If left blank, the server's <code>ip:port</code> will be used.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error' : applicationSettingsForm.session_id_lifetime.$invalid && (applicationSettingsForm.session_id_lifetime.$dirty || applicationSettingsForm.$submitted)}">
            <label>
              Logout session timeout
            </label>
            <input type="number" name="session_id_lifetime" class="form-control" data-ng-model="KONGA_CONFIG.session_id_lifetime" min="15" required>
            <p class="help-block">The interval in minutes at which you will be logged out after idle time.</p>
            <div class="text-danger" ng-if="applicationSettingsForm.session_id_lifetime.$invalid && (applicationSettingsForm.session_id_lifetime.$dirty || applicationSettingsForm.$submitted)"> Minimum interval value is 15.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Login RESTRICTIONS -->
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h3>
        Login restrictions
      </h3>
      <hr>
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label class="pull-left margin-right">
                <input type="checkbox" ng-model="KONGA_CONFIG.is_only_admin_allow_login">
              </label>
              <p>
                Allow only admin user to login.
                <br>
                <span class="help-block">If enabled, only users with <code>admin</code> role(permission) are allowed to log in to Gluu Gateway UI.</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-block">
        save settings
      </button>
    </div>
  </div>
</form>
