<div class="modal-header success">
  <h4 class="modal-title" id="modal-title">
    Select API's
    <a class="modal-close pull-right" ng-click="close()">
      <i class="mdi mdi-close"></i>
    </a>
  </h4>
</div>

<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Search</label>
      <div class="col-sm-7">
        <input data-ng-model="searchText" data-ng-change="searchAPI()" class="form-control">
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-sm btn-primary" ng-click="searchText = '';searchAPI()">
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : errors.name}">
      <div class="col-sm-12">
        <div class="col-sm-4" style="margin-top: 10px" data-ng-repeat="o in apis">
          <input type="checkbox" id="{{o.id}}" checklist-value="o.id" checklist-model="selected_apis"/>{{o.name}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-7">
        <button type="submit" class="btn btn-primary" ng-click="create()">
          <i class="mdi mdi-check"></i>
          Submit
        </button>
      </div>
    </div>

  </form>
</div>
