
<html>

<head>
  <title>Gluu Gateway Demo Flask Application</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="page-header">
      <h1>Gluu Gateway Demo</h1>
    </div>
      {% for step in steps %}
        <div class="panel panel-primary">
          <div class="panel-heading">{{loop.index}}. {{ step['title'] }}</div>
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Request url:</b></div>
              <div class="col-sm-9 col-md-10">{{step['response'].url}}</div>
            </div>
            
            <hr style="border-top: 1px solid #337ab7;">
            
            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Request headers:</b></div>
              <div class="col-sm-9 col-md-10" style="word-wrap: break-word;">{{step['response'].request.headers}}</div>
            </div>

            <hr style="border-top: 1px solid #337ab7;">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Request body:</b></div>
              <div class="col-sm-9 col-md-10">{{step['response'].request.body}}</div>
            </div>     
 
             <hr style="border-top: 1px solid #337ab7;">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Response status:</b></div>
              <div class="col-sm-9 col-md-10">{{step['response'].status_code}}</div>
            </div>

             <hr style="border-top: 1px solid #337ab7;">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Response headers:</b></div>
              <div class="col-sm-9 col-md-10">{{step['response'].headers}}</div>
            </div>
        
             <hr style="border-top: 1px solid #337ab7;">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Response body:</b></div>
              <div class="col-sm-9 col-md-10" style="word-wrap: break-word;">{{step['response'].json()}}</div>
            </div>        
        
        
          </div>
        </div>
      {% endfor %}
    
    
    {% if claim_redirectUrl %}
    
        <div class="panel panel-primary">
          <div class="panel-heading">{{steps.__len__()+1}}. Claims gathering url</div>
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3 col-md-2"><b>Request url:</b></div>
              <div class="col-sm-9 col-md-10">Click URL <a href="{{claim_redirectUrl}}">{{claim_redirectUrl}}</a></div>
            </div>
    
    {% endif %}
    
  </div>
  
</body>
</html>
