<konga-loader ng-if="loading && !items.data.length"></konga-loader>

<div class="row" ng-if="!loading || items.data.length">
  <div class="col-md-12">
    <div class="col-lg-12 col-md-8">
      <div ba-panel ba-panel-class="with-scroll">
        <form name="PluginForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th colspan="2">API details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{api.name}}</td>
                </tr>
                <tr>
                  <th>Upstream URL</th>
                  <td>{{api.upstream_url}}</td>
                </tr>
                <tr>
                  <th>Hosts</th>
                  <td>{{api.hosts.join(',')}}</td>
                </tr>
                <tr>
                  <th>Proxy Listen</th>
                  <td>http://{{info.hostname}}:{{info.configuration.proxy_port}}</td>
                </tr>
                </tbody>
              </table>
              <br/>
              <table data-ng-if="plugins.length > 0" class="table table-bordered">
                <thead>
                <tr>
                  <th colspan="2">Plugin details</th>
                </tr>
                </thead>
                <thead>
                <tr>
                  <th>OXD Id</th>
                  <td>{{plugins[0].config.oxd_id}}</td>
                </tr>
                <tr>
                  <th>UMA Server</th>
                  <td>{{plugins[0].config.uma_server_host}}</td>
                </tr>
                <tr>
                  <th>OXD Host</th>
                  <td>{{plugins[0].config.oxd_host}}</td>
                </tr>
                <tr>
                  <th>Client Id</th>
                  <td>{{plugins[0].config.client_id}}</td>
                </tr>
                <tr>
                  <th>Client Secret</th>
                  <td>{{plugins[0].config.client_secret}}</td>
                </tr>
                </thead>
              </table>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <label><span class="text text-danger">*</span>UMA Resources</label>
                <span class="help-block error-block basic-block">Register a protected resource using below tool. For <a
                  href="https://gluu.org/docs/oxd/3.1.1/api/#uma-2-resource-server-apis"
                  target="_blank">more details...</a> </span>
              </div>
              <div class="row" ng-repeat="element in modelPlugin.config.protection_document" ng-init="pIndex = $index"
                   style="border: 1px dotted;">
                <hr/>
                <div class="col-md-1" data-ng-if="plugins.length <= 0">
                  <button type="button" title="Delete path" class="btn btn-danger"
                          ng-click="modelPlugin.config.protection_document.splice($index,1)">
                    <i class="mdi mdi-close"></i>
                  </button>
                </div>
                <div class="col-md-11">
                  <div class="form-group has-feedback col-md-4">
                    <input type="text" class="form-control" value="{{api.upstream_url}}" title="Upstream URL" disabled/>
                    <span class="help-block error-block basic-block" title="Kong proxy point">http://{{info.hostname}}:{{info.configuration.proxy_port}}</span>
                  </div>
                  <div class="form-group has-feedback col-md-8"
                       ng-class="{'has-error': PluginForm.path.$invalid && (PluginForm.path.$dirty || PluginForm.$submitted)}">
                    <input type="text" class="form-control" id="path{{$index}}" name="path{{$index}}"
                           title="Enter path"
                           placeholder="/path"
                           ng-model="element.path"
                           ng-required="true" data-ng-disabled="plugins.length > 0"/>
                    <span class="help-block error-block basic-block">The path which you want to protected by UMA</span>
                  </div>
                  <div class="col-md-12">
                    <div class="row" ng-repeat="cond in element.conditions">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group has-feedback">
                            <tags-input ng-model="cond.httpMethods" data-ng-disabled="plugins.length > 0"
                                        id="httpMethods{{pIndex}}{{$index}}"
                                        add-from-autocomplete-only="true"
                                        placeholder="Enter http Methods">
                              <auto-complete source="loadMethods($query)"
                                             min-length="0"
                                             debounce-delay="0"></auto-complete>
                            </tags-input>
                            <span class="help-block error-block basic-block"></span>
                          </div>
                        </div>
                        <div class="col-md-2" data-ng-if="plugins.length <= 0">
                          <button type="button" title="Delete condition" class="btn btn-danger"
                                  ng-click="element.conditions.splice($index,1)">
                            <i class="mdi mdi-close"></i>
                          </button>
                        </div>
                      </div>

                      <!-- edit mode view start -->
                      <div class="row" data-ng-if="plugins.length > 0">
                        <div class="col-md-12" id="dyScope{{pIndex}}{{$index}}1">

                        </div>
                      </div>
                      <!-- edit mode view end -->

                      <div class="row" data-ng-if="plugins.length <= 0">
                        <input type="hidden" value="1" name="hdScopeCount{{pIndex}}{{$index}}"/>
                        <div class="col-md-12">
                          <input type="radio" value="or" name="condition{{pIndex}}{{$index}}1">or |
                          <input type="radio" value="and" name="condition{{pIndex}}{{$index}}1">and |
                          <input type="radio" value="not" name="condition{{pIndex}}{{$index}}1">not
                          <button type="button" class="btn btn-xs btn-success" data-add="rule"
                                  data-ng-click="addGroup(pIndex +''+ $index,1)"><i class="mdi mdi-plus"></i>
                            Add Group
                          </button>
                          <input type="hidden" value="{{cond['scopes' + pIndex + $index + '1']}}"
                                 name="hdScope{{pIndex}}{{$index}}1"/>
                          <div class="form-group has-feedback">
                            <tags-input ng-model="cond['scopes' + pIndex + $index + '1']"
                                        name="scope{{pIndex}}{{$index}}1" data-ng-disabled="plugins.length > 0"
                                        id="scopes{{pIndex}}{{$index}}"
                                        placeholder="Enter scopes">
                              <auto-complete source="loadScopes($query)"
                                             min-length="0"
                                             template="my-custom-template"
                                             debounce-delay="0"></auto-complete>
                            </tags-input>
                            <script type="text/ng-template" id="my-custom-template">
                              <div>
                                <span>{{data.name}}</span>
                              </div>
                            </script>
                          </div>
                          <div class="col-md-12" id="dyScope{{pIndex}}{{$index}}1">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group has-feedback">
                            <tags-input ng-model="cond.ticketScopes" data-ng-disabled="plugins.length > 0"
                                        id="ticketScopes{{pIndex}}{{$index}}"
                                        placeholder="Enter ticket scopes"></tags-input>
                          </div>
                        </div>
                      </div>
                      <hr/>
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-info" ng-click="addNewCondition($index)"
                              data-ng-if="plugins.length <= 0">
                        <i class="mdi mdi-plus"></i> Add Condition
                      </button>
                    </div>
                    <br/>
                  </div>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-info" ng-click="addNewPath()" data-ng-if="plugins.length <= 0">
                <i class="mdi mdi-plus"></i> Add path
              </button>
              <button type="button" class="btn btn-primary" ng-click="showResourceJSON()"
                      data-ng-if="plugins.length <= 0">
                <i class="mdi mdi-information"></i> View Resource Json
              </button>
            </div>
          </div>
          <div class="row">
            <hr/>
            <button type="submit" class="btn btn-primary" ng-click="addPlugin(PluginForm.$valid)"
                    data-ng-if="plugins.length <= 0">
              <i class="mdi mdi-check"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

